@use '@angular/material' as mat;


@include mat.core();

$custom-light-primary-palette: (
  25: #F44336,
  50: #FFEBEE,
  100: #FFCDD2,
  200: #EF9A9A,
  300: #E57373,
  400: #EF5350,
  500: #F44336,
  600: #E5383B,
  700: #D32F2F,
  800: #C62828,
  900: #A4161A,
  contrast: (
    25:black,
    50: black,
    100: black,
    200: black,
    300: black,
    400: white,
    500: white,
    600: white,
  )
);

$custom-dark-primary-palette: (
  25: #10BCB9,
  50: #10141A,
  100: #10322D,
  200: #106565,
  300: #10AC8C,
  400: #10AAAF,
  500: #10BCB9,
  600: #11C7B6,
  700: #12CDCE,
  800: #13DCDD,
  900: #14E9F5,
  contrast: (
    25:white,
    50: white,
    100: white,
    200: white,
    300: white,
    400: black,
    500: black,
    600: black,
  )
);


$memigo-light-primary: mat.define-palette($custom-light-primary-palette);
$memigo-light-accent: mat.define-palette($custom-light-primary-palette,100);
$memigo-light-warn: mat.define-palette($custom-light-primary-palette,25);

$memigo-dark-primary: mat.define-palette($custom-dark-primary-palette);
$memigo-dark-accent: mat.define-palette($custom-dark-primary-palette,100);
$memigo-dark-warn: mat.define-palette($custom-dark-primary-palette,25);

$memigo-classic-theme: mat.define-light-theme((
  color: (
    primary: $memigo-light-primary,
    accent: $memigo-light-accent,
    warn: $memigo-light-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$memigo-rememe-theme: mat.define-dark-theme((
  color: (
    primary: $memigo-dark-primary,
    accent: $memigo-dark-accent,
    warn: $memigo-dark-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

body.light-theme{
  @include mat.all-component-themes($memigo-classic-theme);
  background-color: #FFCDD2;
}

body.dark-theme{
  @include mat.all-component-themes($memigo-rememe-theme);
  background-color: #10141A;
}

html, body { height: 100%; margin: 0; padding: 0; }
body {  font-family: Roboto, "Helvetica Neue", sans-serif; }
