.maker-content-1{
    margin: 25px;
    margin-left: 200px;
}

.maker-content-2{
  margin: 25px;
  justify-content: center;
}

/* textbox-con-texto-encima.component.css */
.meme-container {
    position: relative;
    display: inline-block;
    width: 500px; /* Ancho de la imagen */
    height: 500px; /* Altura de la imagen */
}
  
.momazo-img{
    width: 500px; /* Ancho de la imagen */
    height: 500px; /* Altura de la imagen */
}

.momazo-text {
    position: absolute;
    top: 10px; /* Ajusta la posición del texto según necesites */
    left: 10px; /* Ajusta la posición del texto según necesites */
    right: 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
    font-size: 50px;
    padding: 10px; /* Espaciado interior del texto */
    word-wrap: break-word; /* Esta propiedad hace que el texto haga saltos de línea */
    white-space: pre-wrap; /* Esto es para que se respeten los saltos de línea */
    max-width: 100%; /* El texto no superará el ancho del contenedor */
    max-height: 100%; /* El texto no superará la altura del contenedor */
}

.momazo-text-fondo {
    position: absolute;
    text-align: center;
    bottom: 10px; /* Ajusta la posición del texto de fondo según necesites */
    left: 10px; /* Ajusta la posición del texto de fondo según necesites */
    right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    -webkit-text-stroke: 2px black;
    text-transform: uppercase;
    font-size: 50px; /* Tamaño de fuente del texto en el fondo de la imagen */
    padding: 8px; /* Espaciado interior del texto */
    word-wrap: break-word; /* Esta propiedad hace que el texto haga saltos de línea */
    white-space: pre-wrap; /* Esto es para que se respeten los saltos de línea */
    max-width: 100%; /* El texto no superará el ancho del contenedor */
    max-height: 100%; /* El texto no superará la altura del contenedor */
  }

.mat-mdc-form-field {
    width: 500px;
}

.template-list{
    height: 80px;
    width: 80px;
}

.btn-download {
  border-radius: 10px;
  border: 3px solid white;
  background-color: blue; /* Color azul para el botón de descargar */
  color: white; /* Texto en color blanco */
  margin-right: 175px;
  margin-left: 85px;
  padding: 10px 20px; /* Ajusta el relleno según lo desees */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn-download:hover{
  background-color: rgb(0, 0, 172);
}

.btn-publish:hover{
  background-color: rgb(26, 160, 26);
}

.btn-publish {
  border-radius: 10px;
  border: 3px solid white;
  background-color: rgb(44, 209, 44); /* Color verde para el botón de publicar */
  color: white; /* Texto en color blanco */
  padding: 10px 20px; /* Ajusta el relleno según lo desees */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

  input[type="file"] {
    display: none;
  }
  
  /* Light Theme */
  .light-theme .file::before {
    background-color: #f44336;
    width: 400px;
    margin-left: 1px;
    margin-top: 20px;
    text-align: center;
    color: white;
  }
  
  .light-theme .file:hover::before {
    background-color: #a4161a;
  }
  
  .light-theme .file::before {
    content: "SELECCIONAR IMAGEN DEL DISPOSITIVO";
    display: inline-block;
    padding: 8px 16px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }
  
  /* Dark Theme */
  .dark-theme .file::before {
    background-color: #10bcb9;
    width: 400px;
    margin-left: 1px;
    margin-top: 20px;
    text-align: center;
    color: black;
  }
  
  .dark-theme .file:hover::before {
    background-color: #14e9f5;
  }
  
  .dark-theme .file::before {
    content: "SELECCIONAR IMAGEN DEL DISPOSITIVO";
    display: inline-block;
    padding: 8px 16px;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  }