image-cropper{
    max-width: 100% !important; /* Establece el ancho m치ximo al 100% del contenedor */
    height: auto !important; /* Permite que la altura se ajuste autom치ticamente para mantener la proporci칩n original */
}

mat-dialog-content{
    height: auto;
    width: 750px;
}

.light-theme mat-dialog-actions button {
    color: white; 
    background-color: #F44336; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-left: 15px;
    margin-bottom: 10px;
}
  
.light-theme mat-dialog-actions button:hover {
    background-color: #A4161A; 
}

.dark-theme mat-dialog-actions button {
    color: black; 
    background-color: #10BCB9; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-left: 15px;
    margin-bottom: 10px;
}
  
.dark-theme mat-dialog-actions button:hover {
    background-color: #14E9F5; /* Cambia el color de fondo al pasar sobre el bot칩n */
}

.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;
    z-index: 1000;
}