.post-container{
    width: 50%;
    align-self: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 20px;
}

.light-theme.post-container{
    background-color: #D32F2F;
}

.dark-theme.post-container{
    background-color: #12CDCE;
}