<div [ngClass]="theme">
    <h2 mat-dialog-title>{{'post-dialog_h2' | translate}}</h2>
    <mat-dialog-content>
        <mat-form-field>
            <textarea matInput [formControl]="postForm" placeholder="{{'post-dialog_ph' | translate}}" maxlength="255"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button (click)="postMeme()" [mat-dialog-close]="true" cdkFocusInitial>{{'post-dialog_button1' | translate}}</button>
        <button mat-button mat-dialog-close>{{'post-dialog_button2' | translate}}</button>
    </mat-dialog-actions>
</div>