<div [ngClass]="theme" class="container">
    <div class="row align-items-center">
        <div class="col-6">
            <h2 class="title" mat-dialog-title>{{'edit-profile_h2' | translate}}</h2>
        </div>
        <div class="col-6">
            <button class="close" [mat-dialog-close]="false"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <mat-dialog-content class="update-container">
        <div class="profile-container">
            <div (click)="uploadFile()" class="profile-picture-container">
                <input type="file" id="file-upload" style="display: none" (change)="fileChangeEvent($event)">
                <img id="profile" [src]="user.img" alt="Foto de perfil" class="img-fluid rounded-circle mb-3">
                <div class="overlay">
                    <mat-icon class="camera-icon">camera_alt</mat-icon>
                </div>
            </div>
            <mat-form-field class="mat-mdc-form-field">
                <mat-label>{{'edit-profile_lbl' | translate}}</mat-label>
                <input [formControl]="nameForm" type="text" matInput placeholder="{{'edit-profile_ph' | translate}} ">
                @if (nameForm.hasError('required')) {
                    <mat-error>{{'edit-profile_error_1' | translate}} <strong>{{'edit-profile_error_2' | translate}}</strong></mat-error>
                }
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions class="row justify-content-end">
        <button mat-button (click)="sendUser()" [mat-dialog-close]="true">{{'edit-profile_button' | translate}}</button>
    </mat-dialog-actions>
</div>
